:root {
    --color-bg: #fff;
    --color-text: #000;
    --color-accent: #969696;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
    font-weight: 400;
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    height: 80px;
    padding: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-text); 
}

nav ul li a {
    display: flex;
    align-items: center;
    font-size: 16px;
}

nav ul li a:hover {
    color: var(--color-accent);
}