:root {
    --color-bg: #fff;
    --color-text: #000;
    --color-accent: #969696;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
    font-weight: 400;
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}


h3 {
    font-size: 24px;
}

header{
    height: 80px;
    border-bottom: 1px solid var(--color-accent);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

header nav ul li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

a:hover {
    color: var(--color-accent);
}

#about-me {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#about-me strong {
    font-weight: 700;
    color: var(--color-accent);
}

#skills {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    gap: 32px;
}

#skills h2 {
    width: 560px;
    
}

#skills ul {
    list-style: none;
    padding: 0;
}

#work-expirience {
    width: 800px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.job {
    width: 100%;
    max-width: 800px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.job ul {
    list-style: none;
    padding: 0;
}

.job .position-details p {
    padding-top: 12px;
    padding-bottom: 12px;
}

.position {
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.position p {
    width: 100%;
    margin: margin: 0;
}